<div id="header">
<h1>My Blog</h1>
</div>

<div id="div1"><h2>Let jQuery AJAX Change This Text</h2></div>

<button>Get External Content</button>

<div id="section">
<h2>What I want this blog to include</h2>
    <ul>
      <li>Weight loss, Fitness, Food etc.</li>
	  <li>Career improvement?</li>
      <li>BC experience</li>
	  <li><a href="listOfResources.html">These are all the resources of this site.</a></li>
    </ul>
    <h2>My Deal</h2>

		<p>Married, live in a household of people with vastly different eating habits.  Plus my dad lives across town by himself and
			I like to bring him meals that he can easily heat up at his whim.  Thus the obsession with single servings.</p>
		<p>Been fighting a mostly losing battle with my weight since I was about eleven.  As of late, I've been mostly
		winning the battle, so I'd like to try to share what I've been doing in case it might help other people struggling
		to achieve or maintain a healthy weight.</p>
		<p></p>
    <h2>Interests/Focuses of this blog</h2>	
	<ul>
		<li>portion control 
			<ul>
				<li>restaurants</li>
				<li>american servings vs. the rest of the world's</li>
				<li>my own greed and portion distortion</li>
				<li>challenge of single servings in a six-serving world (cooking and ordering)</li>
				<li>challenge of small servings for a 110 pound five foot nothing (perception - wimpy, rude,  and in practice)
						forty-something year old chick.</li>
			</ul>
		</li>
	</ul>
<h2>Source:</h2>
    <p><a href="http://www.purple.com/">Go to purple.com if you're bored with this page.</a></p>
</div>

<div id="footer">
Copyright &copy; ThistledownSoftware.com *This should be on every page like the nav bar
</div>