<div id="header">
<h1>My Recipe page (My Cooking page?)</h1>
</div>

<div id="section">
<h2>What I want this blog to include</h2>
    <ul>
      <li><a href="triedRecipes.html">These are recipes that I've tried</a></li>
	  <li><a href="recipesIwantToTry.html">These are recipes I want to try</a></li>
      <li>I want the user to be able to easily differentiate between</li>
	      <ol>
      <li>freezer meals</li>
	  <li>single serving meals</li>
	  <li>portable meals</li>
 
    </ol>
    </ul>
    <h2>What's this section look like?</h2>
    <ol>
      <li>Oh, I see.</li>
 
    </ol>
<h2>Source:</h2>
    <p><a href="http://www.amazon.com/">Go to Amazon.com if you're bored with this page.</a></p>
</div>

<div id="footer">
Copyright © ThistledownSoftware.com
</div>