<!DOCTYPE HTML>
<html>
<head>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script language="javascript"></script>
<link rel="stylesheet" type="text/css" href="global.css">
</head>
<body>

<div id="header">
<h1>List of Resources</h1>
</div>

<!-- <div id="nav">
<a href="myBlog.html">myBlog.html page</a><br>
<a href="myRecipes.html">myRecipes.html page</a><br>
<a href="recipesIwantToTry.html">recipesIwantToTry.html page</a><br>
</div> -->

<div id="section">
<h2>Recipes and Food Planning</h2>
<h3>Online Resources</h3>
	<ul>
	  <li><a href="http://www.justonecookbook.com/how-to/how-to-freeze-rice/">How To Freeze Rice</a> from <i>Just One Cookbook</i></li>
	  <li><a href="http://theleancleaneatingmachine.com/2014/01/23/ultra-juicy-turkey-burgers/">Ultra Juicy Turkey Burgers</a> from <i>The Lean Clean Eating Machine</i></li>
    </ul>
<h3>Books</h3>
    <ul>
      <li>Jeanne Kelley's <a href="http://www.amazon.com/Salad-Dinner-Complete-Meals-Seasons/dp/0847838250/ref=sr_1_1?ie=UTF8&qid=1425824835&sr=8-1&keywords=salad+for+dinner+jeanne">Salad for Dinner</a></li>
	  <li>Hannah Hart's <a href="http://www.amazon.com/My-Drunk-Kitchen-Eating-Drinking/dp/0062293036/ref=sr_1_1?ie=UTF8&qid=1425828939&sr=8-1&keywords=my+drunk+kitchen">My Drunk Kitchen</a></li>
	  <li>Suzanne Pirret's <a href="http://www.amazon.com/The-Pleasure-Is-All-Mine/dp/B002XUM10W">The Pleasure's All Mine</a></li>
	  <!--The Pleasure's All Mine chapter entitled "Best Steak au Poivre with Frites is what got me to start eating steak again after thirty years of just saying no to red meat.-->
    </ul>
<h2>Other Resouces:</h2>
    <ul>
      <li>BecauseIAmAWoman: <a href="http://becauseiamawoman.tumblr.com/post/22321727674/iudinseration">Having Your IUD Inserted: What to Expect</a></li>
	  <li>Overeaters Anonymous: <a href="http://www.oa.org/membersgroups/find-a-meeting/">Where to Find a Meeting</a></li>
 
    </ul>
</div>

<div id="footer">
Copyright &copy; ThistledownSoftware.com
</div>

</body>
</html>